/vendor/
composer.phar

.env
.env.local
.env.*.local

/temp/*
!/temp/.gitkeep
/log/*
!/log/.gitkeep

.phpunit.cache
.phpunit.result.cache
/coverage/
/tests/_reports/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

ROADMAP.md