services:
    - App\Security\PasswordManager
    - Nette\Database\Connection('mysql:host=mysql;dbname=%env.MYSQL_DATABASE%', '%env.MYSQL_USER%', '%env.MYSQL_PASSWORD%')
    - App\Repository\ProductRepository
    - Predis\Client('tcp://redis:6379')
    - App\Service\StockManager
    - App\Controller\CartController
    - App\Service\SessionCartStorage
